@import "config";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100%;
    background-color: $very-light-grayish-blue;
    color: $dark-grayish-blue;
    font-weight: 500;
}

.main {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 52%;
    margin: 3.5rem auto;
    padding: 2.5rem 2rem;
    background-color: $white;

    .notifications__header {
        display: flex;
        justify-content: space-between;

        &-title {
            display: flex;
            align-items: center;
            font-weight: 800;

            & > h1 {
                color: $very-dark-blue;
            }
        }

        &-badge {
            border-radius: 0.5rem;
            margin-left: 1rem;
            padding: 0.2rem 0.8rem;
            background-color: $blue;
            color: $white;
            
        }

        &-btn {
            border: none;
            background: transparent;
            cursor: pointer;
            color: $dark-grayish-blue;
            font: 500 1rem "Plus Jakarta Sans", sans-serif;
            @include transition;

            &:hover {
                color: $blue;
            }
        }
    }

    .notifications__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        margin-top: 2.5rem;

        .notification__item {
            position: relative;
            display: grid;
            grid-template-columns: 50px 1fr;
            padding: 1rem;

            .unread-badge {
                display: inline-block;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                margin: 0.5rem 0 0 0.2rem;
                background-color: $red;
            }

            .hide-badge {
                display: none;
            }
        }

        .unread {
            
            background-color: $very-light-grayish-blue;
        }

        .notification__source-img {
            border-radius: 50%;
            width: 40px;
            margin-right: 1rem;
        }

        .notification__source {
            padding-right: 0.2rem;
            color: $very-dark-blue;
            font-weight: 800;
            @include transition;

            &:hover {
                color: $blue;
            }
        }

        .notification__time {
            color: $grayish-blue;
        }

        .notification__dm {
            border: 1px solid $light-grayish-blue2;
            border-radius: 0.2rem;
            margin: 0 2rem 0 4.5rem;
            padding: 1rem;
            cursor: pointer;
            @include transition;

            &:hover {
                background-color: $light-grayish-blue2;
            }
        }

        .picture-post {
            position: absolute;
            top: 1rem;
            right: 0;
            width: 40px;
        }

        .post {
            color: $dark-grayish-blue;
            font-weight: 800;
            @include transition;

            &:hover {
                color: $blue;
            }
        }

        .group {
            color: $blue;
            font-weight: 800;
        }
    }
}

@media (max-width: 1000px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 2.5rem 1rem;
        margin: auto;
        font-size: 0.8rem;

        .notifications__header {
            &-title {
                & > h1 {
                    font-size: 1.2rem;
                }
            }

            &-badge {
                border-radius: 0.5rem;
                margin-left: 0.2rem;
                padding: 0.2rem 0.5rem;
                background-color: $blue;
                color: $white;
            }
        }
    }
}
